<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429199190543-alsa1i131e4mmlbh3m6gcs32eleur340.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429199190543-alsa1i131e4mmlbh3m6gcs32eleur340</string>
	<key>API_KEY</key>
	<string>AIzaSyC_KLg14ZF6hB_IF3taozVJYe32AWyxXoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>429199190543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myExpermentalApps.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-51fac</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-51fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429199190543:ios:544c66cec888b476</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-51fac.firebaseio.com</string>
</dict>
</plist>